<h1 mat-dialog-title>Add Problem Solution</h1>
<form [formGroup]="_productForm" (ngSubmit)="onSubmit()" #dataForm="ngForm">
  <div mat-dialog-content class="text-field">
    <p>Enter Code Problem</p>
    <mat-form-field appearance="outline">
      <mat-label>Code Problem</mat-label>
      <input 
      formControlName="name"
      matInput 
      >
    </mat-form-field>
  </div>
  <div mat-dialog-content class="text-field">
    <p>Solution Link of the Code Problem</p>
    <mat-form-field appearance="outline">
      <mat-label>Solution Link</mat-label>
      <input 
      matInput
      formControlName="image_link"
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-button type="submit" [mat-dialog-close]="" cdkFocusInitial>Add</button>
  </div>
</form>
