<h1 mat-dialog-title>Edit Product</h1>
<div mat-dialog-content>
  <form [formGroup]="editArticleForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Short Description</mat-label>
      <input matInput formControlName="shortDescription" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Long Description</mat-label>
      <input matInput formControlName="longDescription" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="updateArticle()">
    Update
  </button>
</div>
