<h1 mat-dialog-title>Add Problem Solution</h1>
<form (ngSubmit)="onUpdate(dataForm.value)" #dataForm="ngForm">
  <div mat-dialog-content class="text-field">
    <p>Enter Code Problem</p>
    <mat-form-field appearance="fill">
      <mat-label>Code Problem</mat-label>

      <input 
      [(ngModel)]="data.name" 
      matInput 
      name="name">

    </mat-form-field>
  </div>
  <div mat-dialog-content class="text-field">
    <p>Solution Link of the Code Problem</p>
    <mat-form-field appearance="fill">
      <mat-label>Solution Link</mat-label>

      <input 
      [(ngModel)]="data.solutionLink" 
      matInput
      name="image_link">
      
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onDelete()" [mat-dialog-close]="">Delete</button>
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-button type="submit" cdkFocusInitial>Edit</button>
  </div>
</form>
