.action-button{
    margin-left: 5px;
    margin-right: 5px;
}
.article-table{
    overflow-x: auto;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
}

.add-button{
    width: 100%;
}

.update-button{
    width: 40%;
}

.table-row{
    background-color:#bce8f1;
}

.header{
    display: inline;
    padding: 0px;
}

.responsive-table mat-header-cell, mat-cell{
    text-align: center;
    justify-content: center;
}



