
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                        Add Article
                        <form [formGroup]="_articleForm" (ngSubmit)="onAddArticle()" class="m-t-20">
                            <mat-form-field class="example-full-width">
                                <input 
                                matInput 
                                placeholder="Title" 
                                formControlName="title">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input 
                                matInput 
                                placeholder="Short Description" 
                                formControlName="shortDescription">
                            </mat-form-field>
                
                            <mat-form-field class="example-full-width">
                                <textarea 
                                matInput 
                                value=""
                                placeholder="Long Description"
                                formControlName="longDescription">
                                </textarea>
                            </mat-form-field>
                            <button type="submit" mat-raised-button color="primary">Add</button>
                        </form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="70">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                        Starter Page
                        <!-- ================== Form Field =================== -->
                        <!-- <form class="m-t-20">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Favorite food" value="Sushi">
                            </mat-form-field>
                        </form> -->
                        <!-- =================== Table =============== -->
                        <div class="responsive-table">
                            <mat-table #table [dataSource]="dataSource">
        
                                <!-- Position Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <!-- <span class="header-label">ID:</span> -->
                                        {{element.id}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="title">
                                    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <!-- <span class="header-label">ID:</span> -->
                                        {{element.title}}
                                    </mat-cell>
                                </ng-container>
        
                                <!-- Name Column -->
                                <ng-container matColumnDef="shortDescription">
                                    <mat-header-cell *matHeaderCellDef> Short Description </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <!-- <span class="header-label">Title:</span> -->
                                        {{element.shortDescription}}
                                    </mat-cell>
                                </ng-container>
        
                                <!-- Weight Column -->
                                <ng-container matColumnDef="longDescription">
                                    <mat-header-cell *matHeaderCellDef> Long Description </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <!-- <span class="header-label">Weight:</span> -->
                                        {{element.longDescription}}
                                    </mat-cell>
                                </ng-container>
        
                                <!-- Symbol Column -->
                                <!-- <ng-container matColumnDef="symbol">
                                    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">Symbol:</span>
                                        {{element.symbol}}
                                    </mat-cell>
                                </ng-container> -->
    
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>