
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5 manage-btn">
    {{nameInitial}}
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <div [align]="'middle'" class="profile">
        <span class="profile-rounded">{{nameInitial}}</span>
        <p class="p-t-20"><b>{{name}}</b></p>
        <p>{{email}}</p>
    </div>
    <hr>
    <div [align]="'middle'">
        <button class="text-centered" (click)="onLogout()" mat-menu-item>
            <span>Sign Out</span>
        </button>
    </div>
    
</mat-menu>