/* .main-container{
      
} */
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: static;
}
.example-container {
    width:  130vw;
    height: 91vh;
    border: none;
  }
  
  .example-sidenav-content {
    display: flex;
    /* height: 100%; */
    align-items: left;
    justify-content: left;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .text-field {
    /* min-width: 300px;
    max-width: 700px; */
    width: 100%;
  }

  .add_button{
    position:fixed;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    transform: scale(1);
    background-color: #125699;
    color: white;
  }

  .menu_button{
    position:absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 30px;
    transform: scale(1);
    background-color: #125699;
    color: white;
  }

  /* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
}

.heroes li {
  display: flex;
}

.heroes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 2.8em;
  border: none;
  /* padding: 10px; */
}

.heroes button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes button.selected {
  background-color: black;
  color: white;
}

.heroes button.selected:hover {
  background-color: #505050;
  color: white;
}

.heroes button.selected:active {
  background-color: black;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  align-self: center;
}
.heroes .action-button {
  width:100px;
  align-self: center;
  align-items: center;
  background-color: green;
  padding: 20px;
}

.goto-link-button{
  width: 100%;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.content {
  display: flex;
  margin: 30px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
.spacer {
  flex: 1;
}

.appbar_buttons button{
  color: white;
  background-color: #DD0031;
  padding: 5px 50px;
  margin: 20px 10px;
  border-width: 0px;
  border-radius: 10px;
  
  }

.appbar_buttons button:hover{
  color: black;
  background-color: lightblue;
  }

.product-table{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.product-table mat-card, mat-paginator{
  background-color: #f3fdfe;
}


.action-buttons{
  margin-left: 15px;
}

.responsive-table mat-header-cell, mat-cell{
  text-align: center;
  justify-content: center;
}

.responsive-table mat-cell{
  background-color: #a4c1dd;
}

.responsive-table mat-header-cell{
  align-self: center;
  justify-content: center;
  background-color: #305981;
  color: white;
}




