<div class="content" role="main">
  <div  class="toolbar" role="banner" >
    <img routerLink="/dashboard"
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Routing app in angular</span>
      <div class="spacer"></div>
      <div  class="appbar_buttons"><button (click)="onLogout()">Logout</button></div>
  </div>
</div>
<i class="fa-solid fa-bars"></i>
<div class=" center-items">
    <mat-drawer-container class="example-container" autosize>
         <div class="center-items">
            <h1>Solution Links</h1><br><br>
        </div>
        <div class="center-items">
            <h3>Click the button on the left side to show sidebar to navigate in to different social sites.</h3>
        </div>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Route to Different Pages</p>
          <button (click)="gotoFb('facebook')" mat-raised-button>Facebook</button> <br><br>
          <button (click)="gotoFb('twitter')" mat-raised-button>Twitter</button> <br><br>
          <button (click)="gotoFb('instagram')" mat-raised-button>Instagram</button> <br><br>
          <button (click)="gotoFb('telegram')" mat-raised-button>Telegram</button> <br><br>
          <button (click)="gotoFb('tiktok')" mat-raised-button>Tiktok</button> <br><br>
          <button (click)="gotoFb('linkedin')" mat-raised-button>Linkedin</button> <br><br>
        </mat-drawer>
        <div class="example-sidenav-content">
          <button class="menu_button"(click)="drawer.toggle()" mat-icon-button color="black" aria-label="Example">
            <mat-icon>menu</mat-icon>
          </button>
          <button class="add_button" (click)="openAddSolutionDialog()" mat-icon-button color="black" aria-label="Example">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      <!-- =========================================================== -->
       <!-- <div class="center-items">
        <ul class="heroes">
          <li *ngFor="let link of links">
            <button [class.selected]="link === selectedLink" (click)="openSolutionDetailsDialog(link)" type="button">
              <span class="badge">{{link.id}}</span>
              <span class="name">{{link.name}}</span>
            </button>
          </li>
        </ul>
       </div> -->
       <!-- =========================================================== -->

        <div *ngIf="links.length != 0" class="product-table" fxLayout="row wrap">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
              <mat-card-content>
                <mat-card-title>Products</mat-card-title>
                <div class="responsive-table">
                  <mat-table #table [dataSource]="dataSource">
        
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef> <h2>ID.</h2> </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>
        
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> <h2>Product Name</h2> </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
        
                    <!-- Weight Column -->
                    <ng-container matColumnDef="image">
                      <mat-header-cell *matHeaderCellDef> <h2>Image</h2> </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.image_link}} </mat-cell>
                    </ng-container>
        
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef> <h2>Actions</h2> </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <!-- <button (click)=" openSolutionDetailsDialog(element)">Edit</button> -->
                        <button class="action-buttons" mat-raised-button color="primary" (click)=" openSolutionDetailsDialog(element)">Edit</button>
                        <button class="action-buttons" mat-raised-button color="warn" (click)="onDelete(element)">Delete</button>
                      </mat-cell>
                    </ng-container>
        
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                    <mat-row 
                      *matRowDef="let row; 
                      columns: displayedColumns;">
                    </mat-row>

                  </mat-table>

                  <mat-paginator  
                  [pageSize]="5" isNextPageDisabled="false"
                  
                  >

                  </mat-paginator>

                  <!-- <div class="pagination">
                    <button
                      [disabled]="value === 1"
                      (click)="selectPage(1)">
                    </button>

                    <button
                      [disabled]="value === 1"
                      (click)="selectPage(value - 1)">
                    </button>

                    <button
                      *ngFor="let page of visiblePages"
                      [ngClass]="value === page && 'selected'"
                      (click)="selectPage(page)">
                      {{ page }}
                    </button>

                    <button
                      [disabled]="value === totalPages
                      (click)="selectPage(value + 1)">  
                    </button>

                    <button
                      [disabled]="value === totalPages"
                      (click)="selectPage(totalPages)>
                    </button>
                  </div> -->

                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-drawer-container>
</div>