/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
// @import '~quill/dist/quill.core.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.notification-danger {
    background:#E91E63 !important;
}
.notification-success {
    background:#15C39A !important;
}
.m-auto {
    margin:0 auto;
}
.manage-btn {
    background: #004D40 !important;
}
.mymegamenu.mat-menu-panel{
    min-width:280px !important;
}
.mymegamenu .mat-menu-item{
    border: 1px #E0E0E0 solid;
    width: 60%;
}

.primary {
    background-color: #F58026;
}

.auth-spinner {
    width: 30px !important;
    height: 30px !important;
    display: inline !important;
}
.auth-spinner svg {
    width: 30px !important;
    height: 30px !important;
}