/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.notification-danger {
    background:#E91E63 !important;
}
.notification-success {
    background:#15C39A !important;
}